@page "/register"

<div class="Register">
    <div class="RegisterHeader">
        <header>Register</header>
    </div>
    <EditForm Model="register" OnValidSubmit="ValidSubmit">
        <DataAnnotationsValidator/>
        <div class="usernameInput">
            <label class="registerLabel">Username:</label>
            <input @bind-value="register.UserName" class="registerInput" placeholder="Select a Username"/>
            <div class="validation-message">
                <ValidationMessage For="()=>register.UserName"/>
            </div>
        </div>
        <div class="mailInput">
            <label class="registerLabel">E-Mail:</label>
            <input @bind-value="register.Email" class="registerInput" type="email" placeholder="your@email.com"/>
            <div class="validation-message">
                <ValidationMessage For="()=>register.Email"/>
            </div>
        </div>
        <div class="passwordInput">
            <label class="registerLabel">Password:</label>
            <input @bind-value="register.Password" class="registerInput" type="password" placeholder="Select a password"/>
            <div class="validation-message">
                <ValidationMessage For="()=>register.Password"/>
            </div>
        </div>
        <div class="errorMessageContainer">
            @if(responseDTO != null && responseDTO.Success)
            {
                <p class="validation-message">@responseDTO.ErrorMessage</p>
            }
        </div>
        <div class="submitContainer">
            <button
                class="submitButton"
                type="submit"
                disabled="@isSubmitting">
                Register
            </button>
        </div>
    </EditForm>
</div>
