.top-row {
  background-color: #1b3b58;
  padding: 20px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  display: flex;
}

.nav-item {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    line-height: normal;
    width: 180px;
    text-align: center;
    margin-top: -3px;
}

    .nav-item ::deep a {
        color: #ffffff;
    }

.nav-item ::deep a.active {
    font-weight: bolder;
    font-family: "Montserrat Bold", "Montserrat", sans-serif;
}

.nav-item ::deep a:hover {
    font-weight: bold;
    font-family: "Montserrat Bold", "Montserrat", sans-serif;
}

.softtec-logo {
  width: 90px;
  height: 30px;
  margin-top: -10px;
  margin-left: 10px;
  position: absolute; /*Makes Positioning of the nav items wayy easier*/
  top: 20px;
  left: 0;
}

.nav-item-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
