<nav class="top-row">
    <div>
        <img src="/images/softtec.webp" class="softtec-logo" />
    </div>
    <div class="nav-item-container">
        <div class="nav-item">
            <NavLink href="dashboard">
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="logout">
                Abmelden
            </NavLink>
        </div>
    </div>
</nav>
