@using Blazored.LocalStorage
@using ThePenfolio.Client.Shared.model
<nav class="top-row">
    <div>
        <img src="/images/softtec.webp" class="softtec-logo" />
    </div>
    <div class="nav-item-container">
        @if (userId != null)
        {
            <div class="nav-item">
                <NavLink href="dashboard">
                    Creator Dashboard
                </NavLink>
            </div>
        }
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="detailedSearch">
                Search
            </NavLink>
        </div>
        <div class="nav-item">
            @if (userId != null)
            {
                <NavLink href="logout">
                    Logout
                </NavLink>
            }
            else
            {
                <NavLink href="login">
                    Login
                </NavLink>
            }
        </div>
    </div>
</nav>

@code{
    [Inject] public ILocalStorageService LocalStorage { get; set; }

    private Guid? userId;

    protected override async Task OnInitializedAsync()
    {
        var loginStamp = await LocalStorage.GetItemAsync<LoginStamp>(LoginStamp.LoginStampStorageKey);
        if(loginStamp != null)
        {
            userId = loginStamp.UserId;
        }
        else
        {
            userId = null;
        }
    }
}